

.nav-container{
    display: flex;
    position: sticky;
    top: 0px;
    flex-direction: row;
    justify-content: space-between;
    height: 2em;
    margin: 0;
    margin-bottom: 1em;
    padding: 1em;
    /* border: 1px solid black; */
    background-color: #457eacda;
    box-shadow: 0 8px rgba(0, 0, 0, .2);
}

.button-menu-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* transition: all .25s ease; */
    /* padding: 1em; */
}

.profile-dropdown {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: end;
    padding: .5em;
    border: 1px solid black;
    background-color: white;
    color: black;
    height: 8em;
    /* transition: margin-top .25s; */
}

.profile-dropdown li {
    margin: .5em 0;
}

.nav-container button {
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .2);
    padding: .5em;
    background-color: #4f8cbe;
    color: white;
}

.nav-container button:focus {
    outline: none;
}


#logout {
    box-shadow: none;
}

.questions-contents:hover {
    padding-top: 1.25em;
    
}

.all-questions a:active {
    position: relative;
    border: 4px ridge #883a0a;
    top: 3px;
}

.signup {
    margin-left: 1em;
}